/* src/styles/PandaPuzzle.css */

.puzzle-container {
  text-align: center;
  font-family: "Arial", sans-serif;
}

.success-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  margin-top: 20px;
  padding: 10px;
  background: #f0fff0;
  border-radius: 10px;
  display: inline-block;
}
